<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Survey Result</title>
</head>
<body>
	<th:block th:include="/_menu"></th:block>
	<h3>Survey Result</h3>
	
    <form id="resultForm" action="#" th:action="@{/download}" th:object="${salesSurveyResult}" method="POST">
		<ul>
	    	<li>Total de Clientes: <span th:text="${salesSurveyResult.numberOfClients}"></span></li>
	    	<li>Total de Vendedores: <span th:text="${salesSurveyResult.numberOfSellers}"></span></li>
	    	<li>Id da Melhor Venda: <span th:text="${salesSurveyResult.bestSaleID}"></span></li>
	    	<li>Pior vendedor: <span th:text="${salesSurveyResult.worstSellerName}"></span></li>
	    </ul>
	    <input name="numberOfClients" type="hidden" th:value="${salesSurveyResult.numberOfClients}" />
	    <input name="numberOfSellers" type="hidden" th:value="${salesSurveyResult.numberOfSellers}" />
	    <input name="bestSaleID" type="hidden" th:value="${salesSurveyResult.bestSaleID}" />
	    <input name="worstSellerName" type="hidden" th:value="${salesSurveyResult.worstSellerName}" />
		<input type="submit" value="Download"/>
	</form>
       
</body>
</html>